<!DOCTYPE html>
<html data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Should You... ?</title>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/themes.css" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" href="/public/style/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <span>
    <div>
        <h1 class="text-center text-5xl md:text-8xl font-bold text-primary">Should You... ?</h1>
        <div class="container mx-auto mt-2">
        <% if (result) { %>
        <% if(result.startsWith('No')) { %>
            <h1 class="mt-4 text-center text-7xl md:text-5xl font-bold text-error"><%= result %></h1>
        <% } else if (result.startsWith('Yes')){ %>
            <h1 class="mt-4 text-center text-7xl md:text-5xl font-bold text-success"><%= result %></h1>
        <% } %>
        <% } %>
        <% if (answers) { %>
            <h1 class="mt-4 text-center text-7xl md:text-5xl font-bold text-success"><%= answers %></h1>
        <% } %>
        <% if (results) { %>
        <h1 class="mt-4 text-center text-6xl md:text-4xl font-bold text-secondary"><%= results %></h1>
        <% } else { %>
            <h1 class="mt-4 text-center text-6xl md:text-4xl font-bold text-secondary"><%= question %></h1>
        <% } %>
        <h3 class="mt-4 text-center"><a href="/" class="btn btn-outline-warning btn-lg">Return to Homepage</a></h3>
    </div>          
    </div>
    </span>
</body>
</html>